/************************ --- GLOBAL --- ***************************/
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    font-family: Lato;
    font-weight: 500;
}

#main-nav {
    background-color: rgb(143, 243, 238);
    color: #fafafa;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/************************************************** Header section */

header {
    background-color: #98d4a6;
    color: #fafafa;
} 

#hero-outer{
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

#hero-image{
  height: 100%;
  width: 100%;
  background: url("../images/logos/FaB_icon.svg") repeat center center;
  -webkit-animation-name: hero-zoom;
          animation-name: hero-zoom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hero-zoom {
  from{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hero-zoom {
  from{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#cover-text h2, #cover-text h3 {
  color: #ffffff;
}

#cover-text {
  font-size: 100%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 250px;
  height: 200px;

  padding-top: 10px;
  padding-left: 10px;

  background-color: rgba(143, 243, 238, 0.7);

  top: 0px;
  left: 0px;

  position: absolute;

}

.site-name, .site-scope {
    text-align: center;
}

.site-scope {
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav-item {
    width: 240px;
    text-align: center;
}

/* --------------- Colours defining the four menu items */

.home-bg-color {
    background-color: #98d4a6;    
}

.bl-bg-color {
    background-color: #c7a903;
}

.rf-bg-color {
    background-color: #6b7279;
}

.ba-bg-color {
    background-color: #917070;
}

/************************************************** Main Page section */

.section-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.purpose-box p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-heading-icon {
    text-align: center;
    font-size: 30px;
}

.sub-heading-title h2 {
    text-align: center;
}

.sub-heading-title h3 {
    text-align: center;
}

.content-section {
    padding-top: 30px;
    padding-bottom: 56px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin: 0px;
}

/* --- Active Map and Favourites attributes */

.map-and-fav-bg-color {
    background-color: #98d4a6;
}

#mapid { 
    height: 500px;
}

#fav-area-box {
    border-color: red;
}

#fav-area-content {
    min-height: 30px;
}

/* --- Pop up options (Receive Favourites and Bandstand Amendments) attributes */

.pop-ups-bg-color {
    background-color: #fafafa;
}

#receive-favourites {
    margin-top: 20px;
}

.receive-favourites-btn {
    min-height: 30px;
}

#bandstand-amendments {
    margin-top: 20px;
}

.bandstand-amendments-btn {
    min-height: 30px;
}