/************************ --- GLOBAL --- ***************************/
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    font-family: Lato;
    font-weight: 500;
}

#main-nav {
    background-color: rgb(143, 243, 238);
    color: #fafafa;
}

/* --------------- Colours defining the four menu items */

.home-bg-color {
    background-color: #98d4a6;    
}

.bl-bg-color {
    background-color: #c7a903;
}

.rf-bg-color {
    background-color: #6b7279;
}

.ba-bg-color {
    background-color: #917070;
}