/************************ --- GLOBAL --- ***************************/
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    font-family: Lato;
    font-weight: 500;
}

#main-nav {
    background-color: rgb(143, 243, 238);
    color: #fafafa;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/************************************************** Header section */

header {
    background-color: #98d4a6;
    color: #fafafa;
} 

#hero-outer{
  height: 375px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

#hero-image{
  height: 100%;
  width: 100%;
  background: url("../images/logos/FaB_icon400x400.svg") repeat center center;
  -webkit-animation-name: hero-zoom;
          animation-name: hero-zoom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hero-zoom {
  from{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hero-zoom {
  from{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#cover-text h2, #cover-text h3 {
  color: #ffffff;
}

#cover-text {
  font-size: 100%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 250px;
  height: 200px;

  padding-top: 10px;
  padding-left: 10px;

  background-color: rgba(143, 243, 238, 0.7);

  top: 0px;
  left: 0px;

  position: absolute;

}

.site-name, .site-scope {
    text-align: center;
}

.site-scope {
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav-item {
    width: 240px;
    text-align: center;
}

/* --------------- Colours defining the four menu items */

.home-bg-color {
    background-color: #98d4a6;    
}

.bl-bg-color {
    background-color: #c7a903;
}

.rf-bg-color {
    background-color: #6b7279;
}

.ba-bg-color {
    background-color: #917070;
}

/************************************************** Main Page section */

h2 { /* default for extra small mobiles (eg. iPhone5) */
    font-size: 1.12rem;
}

h3 { /* default for extra small mobiles (eg. iPhone5) */
    font-size: 0.82rem;
}

.section-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.purpose-box p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-heading-icon {
    text-align: center;
    font-size: 30px;
}

.sub-heading-title h2 {
    text-align: center;
}

.sub-heading-title h3 {
    text-align: center;
}

.content-section {
    padding-top: 30px;
    padding-bottom: 56px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin: 0px;
}

/* --- Active Map and Favourites attributes */

#bandstand-locations {
    padding-bottom: 20px;
}

.map-and-fav-bg-color {
    background-color: #98d4a6;
}

#mapid { 
    height: 280px;
}

#fav-area-box {
    border-color: red;
}

#fav-area-content {
    min-height: 30px;
    background-color: #fafafa;
}

/* --- Pop up options (Receive Favourites and Bandstand Amendments) attributes */

.pop-ups-bg-color {
    background-color: #fafafa;
}

#receive-favourites {
    margin-top: 20px;
}

.receive-favourites-btn {
    min-height: 30px;
}

#bandstand-amendments {
    margin-top: 20px;
}

.bandstand-amendments-btn {
    min-height: 30px;
}

/* ---------------- Receive Favourites Modal Page - Form formatting */

.white-space {
    height: 15px;
}

.form-section {
    background-color: #98d4a6;
    color: #fafafa;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control {
    height: calc(1.25em + .75rem + 2px);
}

.form-title {
    text-align: center;
}

.form-content {
    background-color: #98d4a6;
    margin-bottom: 10px;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
            margin-inline-start: 2px;
    -webkit-margin-end: 2px;
            margin-inline-end: 2px;
    -webkit-padding-before: 0.35em;
            padding-block-start: 0.35em;
    -webkit-padding-start: 0.75em;
            padding-inline-start: 0.75em;
    -webkit-padding-end: 0.75em;
            padding-inline-end: 0.75em;
    -webkit-padding-after: 0.625em;
            padding-block-end: 0.625em;
    border-width: 2px;
    border-style: groove;
    border-color: darkgreen;
    -o-border-image: initial;
       border-image: initial;
    margin-bottom: 0.5rem;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    margin-bottom: 0px;
}

.label-margin-bottom {
    margin-bottom: 0.1rem;
}

.submit-changes-btn {
    width: 30%;
    margin: 3% 35%;
    border-radius: 15px;
    background-color: slategrey;
    color: #fafafa;
    text-align: center;
}

.submit-changes-btn:hover {
    color: orange;
}

/************************************************** Media queries */
/* Small devices (newer mobile phones, 372px and up) */
@media (min-width:372px) {
    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .purpose-box p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    }
    .sub-heading-icon {
    text-align: center;
    }
    .name-align {
    text-align: center;
    }

    #mapid { 
        height: 320px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {
    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .purpose-box p {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    }
    .sub-heading-icon {
    text-align: right;
    }
    .name-align {
    text-align: center;
    }

    #mapid { 
        height: 370px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .purpose-box p {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    }

    #mapid { 
        height: 430px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .purpose-box p {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    }

    #mapid { 
        height: 500px;
    }
}